body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eef6ff;
}

.container {
  width: 400px;
  margin: 100px auto;
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
